body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("images/forest-herbs-blue-background.svg");
  /*  Thrown in to stop a scrollbar from offsetting content 
      on larger screens. 
  width: calc(100vw - 34px); */
}

.myFace {
  width: 30%; 
  margin-top: 2%; 
  float: left;
}

.myName {
  font-size: 600%;
}

ul {
  text-align: center;
  padding-left: 0; /* Cancels out padding inserted from somewhere */
}

li {
  display: inline;
  list-style-type: none;
  background: #5C9191;
  font-size: 150%;
  padding: 1%;
}

#homeLink {
  margin-right: 5%;
}

#contactLink {
  margin-left: 5%;
}

.content {
  background: #DEFFE8;
}

.footer {
  margin-top: 5%;
  background: #404252;
  color: #DEFFE8;
}